.home {
    background-color: var(--main-color);
    overflow: hidden;
}
.footer{
    background-color: var(--main-color);
    height: 50px;
    color: #C34318;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}